.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .introInfo {
  padding-top: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
@media (max-width: 800px) {
  .App .introInfo {
    height: 140vh;
    justify-content: space-evenly;
  }
  .App .introInfo .fa-angles-down {
    padding-bottom: 50px;
  }
}

.headerContent {
  background-color: #F1F1F1;
  display: flex;
  gap: 15px;
}
.headerContent .headerPhoto {
  width: 57%;
}
.headerContent h1 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  max-width: 400px;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .headerContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerContent .headerPhoto {
    width: 100%;
  }
  .headerContent h1 {
    text-align: center;
    width: 80%;
    padding: 0;
    margin: 0;
  }
}

header {
  width: 100%;
  background-color: #F1F1F1;
}
header h2 {
  padding: 20px;
  font-size: 1rem;
}

.howTo {
  display: flex;
  align-items: center;
  height: 40vh;
}
@media (max-width: 800px) {
  .howTo {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    gap: 30px;
  }
}
.howTo div {
  width: 33.3333333333%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .howTo div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.howTo div h3 {
  font-size: 1.2rem;
}

.enterApp {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .enterApp {
    height: 40vh;
  }
  .enterApp .options {
    flex-direction: column;
  }
}
.enterApp p {
  font-size: 1rem;
  width: 80%;
}
.enterApp .options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.enterApp .options a button {
  width: 75%;
}
.enterApp .options .getStarted {
  width: 15%;
  min-width: 150px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.newEntryButton {
  width: 150px;
  background-color: #f0af80;
}

body {
  font-size: 62.5%;
  color: #01163a;
}

button {
  color: white;
  background-color: #ef705d;
  padding: 15px;
  border: none;
  border-radius: 25px;
  width: 150px;
  min-width: 100px;
  font-size: clamp(0.5rem, 5vw, 0.75rem);
}

i {
  color: #f0af80;
  font-size: clamp(1.7rem, 5vw, 2.5rem);
}

h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}

p {
  font-size: clamp(0.5rem, 3vw, 0.75rem);
}

footer {
  height: 15vh;
  background-color: #e8e2e4;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 800px) {
  footer {
    height: 20vh;
  }
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.sectionTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18vh;
  text-align: center;
  background-color: #e8e2e4;
}
.sectionTwo button {
  margin: 5px;
  padding: 5px;
  width: 125px;
}
.sectionTwo p {
  font-size: clamp(0.2rem, 3vw, 0.7rem);
}

.sobrietyContent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sobrietyContent h2 {
  font-size: 1rem;
}

.beginnerSection {
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.beginnerSection h2 {
  font-size: 2rem;
}

.mainContent {
  width: 100%;
}

.entriesSection {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .entriesSection {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.entriesSection .entry {
  background-color: #e8e2e4;
  border-radius: 25px;
  padding: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
}
@media (max-width: 800px) {
  .entriesSection .entry {
    margin-top: 25px;
  }
}
@media (max-width: 545px) {
  .entriesSection .entry {
    width: 70%;
  }
}
.entriesSection .entry .logTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.entriesSection .entry .logTitle i {
  color: #01163a;
  font-size: small;
}

.reflectionForm {
  margin: 50px 0;
  width: 100%;
}
.reflectionForm form {
  border: 2px solid #a9d3e1;
  height: 50vh;
  width: 60%;
}
.reflectionForm form h3 {
  margin-top: 15px;
}
.reflectionForm form label {
  text-align: left;
  width: 86%;
  margin-top: 10px;
  font-size: 0.75rem;
  margin: 2px;
}
.reflectionForm form input:focus {
  border: none;
  outline: none;
}
.reflectionForm form textarea {
  border: 1px solid #ef705d;
  width: 85%;
}
.reflectionForm form button {
  margin: 20px;
}
.reflectionForm .formItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
}
@media (max-width: 545px) {
  .reflectionForm .formItems {
    width: 85%;
  }
}

.formSection h2 {
  font-size: 1.5rem;
}
.formSection h2, .formSection p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */