@use './variables' as *;
@use "./mixins" as *;

.reflectionForm {
    margin: 50px 0;
    width: 100%;

     form {
        border: 2px solid $babyBlue;
        height: 50vh;
        width: 60%; 
        h3 {
            margin-top: 15px;
        }
        label {
            text-align: left;
            width: 86%;
            margin-top: 10px;
            font-size: 0.75rem;
            margin: 2px;
        }

        input:focus {
            border: none;
            outline: none;
           }

        textarea {
       border: 1px solid $bloodOrange;
       width: 85%;
        
        }

        button {
            margin: 20px;
        }
    }

   
    .formItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 60%;

      @include mobile {
        width: 85%;
      }
     
    }

}
   
.formSection {

    h2 {
        font-size: 1.5rem;
    }

    h2, p {
           display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
 
}