@use "./variables" as *;
@use "./mixins" as *;

body {
    font-size: 62.5%;
    color: $royalBlue;
}

button {
    color: white;
    background-color: $bloodOrange;
    padding: 15px;
    border: none;
    border-radius: 25px;
    width: 150px;
    min-width: 100px;
    font-size: clamp( 0.5rem, 5vw, 0.75rem);

}

i {
    color: $orange;
    font-size: clamp(1.7rem, 5vw, 2.5rem);
}

h3 {
    text-align: center;
    margin: 0;
   
}

h2 {
     font-size: clamp(0.5rem, 3vw, 1.5rem);
}

p {
    font-size: clamp(0.5rem, 3vw, 0.75rem);
}

footer {
    height: 15vh;
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    width: 100%;

    @include tablet {
        height: 20vh;
    }
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
  }
  
